@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

h1{
  background :#acb1ad;
    color: #f9fae8;
    padding:2%;
    font-family: 'Rajdhani', sans-serif;
    margin: 0%;
  }

  ul{
    display:inline-flex;
    li{
      margin: 9%;
    }
  }
